html, body {
		height: 100%;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.5em;
}
.container-fluid {
	  padding-right:0;
	  padding-left:0;
	  width: 100%;
	  height: 100%;
}
.category {
      position: relative;
      width: 100%;
	  padding-bottom: 100%;
	  margin: 0 auto;
}
.menu {
		opacity: 0.5;
}
.menu:hover{
      opacity: 1.0;
}
.menu_selected {
	border:2px solid #915B2F;
	opacity: 1.0;
}
 #skateMenu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(images/Icon_Skateboard.png);
      background-size: 100% 100%;
    }
 #basketMenu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(images/Icon_Basketball.png);
      background-size: 100% 100%;
    }
 #fishMenu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(images/Icon_Fishing.png);
      background-size: 100% 100%;
    }
#allMenu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(images/Icon_All.png);
      background-size: 100% 100%;
}
.btn {
	margin: 2% auto;
	padding: 0px;
	width: 80%;
}

label {
	width: 4em;
}
#info{
   color: #fff;
   background: #2d2d2d;
   background: -webkit-liner-gradient(
      left top,
      color-stop(0, rgb(60,60,60)),
      color-stop(0.74, rgb(43,43,43)),
      color-stop(1, rgb(60,60,60))
      );
   background: -moz-linear-gradient(
      center bottom,
      rgb(60,60,60) 0%,
      rgb(43,43,43) 74%,
      rgb(60,60,60) 100%
      );
   background: linear-gradient(
      center bottom,
      rgb(60,60,60) 0%,
      rgb(43,43,43) 74%,
      rgb(60,60,60) 100%
      );

   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius: 10px;
   width: 430px;
}

input{
   -wekbit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   border: solid 1px #444;
   font-size: 14px;
   width: 50%;
   padding: 7px 8px 7px 30px;
   -moz-box-shadow: 0px 1px 0px #777;
   -webkit-box-shadow: 0px 1px 0px #777;
    color: #333;
    text-shadow: 0px 1px 0px #FFF;
}

#info h2{
   color: #fff;
   text-shadow: 0px 1px 0px #3a3a3a;
   border-bottom: solid #181818 1px;
   -moz-box-shadow: 0px 1px 0px #3a3a3a;
   text-align: center;
   padding: 18px;
   margin: 0px;
   font-weight: normal;
   font-size: 24px;
   font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

p{
   color: #fff;
   text-shadow: 0px 1px 0px #3a3a3a;
   border-bottom: solid #181818 1px;
   -moz-box-shadow: 0px 1px 0px #3a3a3a;
   padding: 18px;
   margin: 0px;
   font-weight: normal;
   font-size: 24px;
   font-family: Lucida Grande, Helvetica, Arial, sans-serif;

}

select{
   width: 50%;
   padding: 12px;
   margin-top: 8px;
   font-family: cursive;
   line-height: 1;
   border-radius: 5px;
   background-color: #A2AB58；
   color:#ff0;
   font-size: 20px;
   -wekbit-appearance: none;
   box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.6);
   outline: none;
}
select:hover{
   color: #A2AB58;
}
#insta{
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
	font-size: 1em;
}


#instatemplate{
	padding:5px;
}
#insta_user{
	vertical-align:middle;
}
.instaspan{
	position:relative;
	left:10px;
}
.instaheart{
	position:relative;
	top:3px;
}
.locspan{
	position:relative;
	top:15px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
